body{
    background-color:#232323;
}

.square{
    width: 30%;
    background-color:#232323;
    padding-bottom: 30%;
    margin: 1.66%;
    float:left;
}

#container{
    max-width: 600px;
    margin: 0 auto 0 auto;
}

h1{
    color: white;
    text-align: center;
}

#message,#headerColor{
    color:white;
}

#nav div{
    display: inline;
    margin-left: 16%;
}

hr{
    width: 80%
}